//styling the title
.title{
    border-top: solid rgb(63, 42, 32) 1px;
    border-bottom: solid rgb(63, 42, 32) 1px;
    width: 50%;
    // margin-left:  30%;
    // margin-top: 10%;
    // margin-bottom: 10%;
    margin: 15% auto;
    text-align: center;
    font-size: 30px;
    h2{
    margin-top:10% ;
    margin-bottom: 10%;
    }
}
.story{
    font-size: 30px;
}
//styling the menu elements 

article {
    margin: 10%;
    // width: 100%;
}

.caption{
background-color: #e0dddec9;
max-width: 400px;
 }

.caption p{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
.caption-2{
    padding-top: 10px;
}
@include phone-large{

    section{
        display: flex;
        flex-wrap: wrap;
    }
    
    article{
        width: 43%;
        margin: 0;
        margin-left: 5%;
        margin-bottom: 10%;
    }
    .title h2{
        margin-top:5%;
        margin-bottom: 5%;
    }

}
@include tablet{
    .title{
        margin: 5% auto;
        font-size: 48px;
    }
   
    article{
        width: 30%;
        margin-left: 20px ;
        margin-bottom: 10%;
        margin-top: 0;
    }
    section{
        margin-left: 3%;
    }

}
@include tablet{
    article{
        padding-left: 10px;
        width: 30%;
    }
    section{
        margin-left: 10% ;
        margin-right: 10%;
    }
}
@include title-breakpoint{
    .title{
       margin: 10% auto;
        }
}
//styling the about us page
.about-banner{
 max-height: 600px;
}
.aim-header{
    display: none;
}
article p{
    line-height: 1.4;
    font-size: 16;
    padding-top: 30px;
}
article h3{
    color: rgb(97, 48, 12);
    font-size: x-large;
    padding: 10% auto;
    padding-bottom: 30px;
}
article img{
    padding-bottom: 20px;
}


@include phone-large{
    //styling the first article 
.section-about{
    display: block;
    margin: 3% auto;
}
.aim-header{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-size: bolder;
    margin-bottom: 10%;
    margin-top: 0;
    
}
.section-about article{
    margin: 0;
    width: 100%;
}
.first-article-about{
    display: flex;
    justify-content: space-around;
    margin-right: 0;
}
.aim{
    width: 40%;
}

.about-img{
    width: 50%;
    max-width:280px ;
    max-height: 350px;
}

}
@include title-breakpoint{
    .section-about{
        margin-left: 15%;
        margin-right: 15%;
    }
}
@include tablet{
    .section-about{
        margin-left: 20%;
        margin-right: 20%;
    }
}
@include desktop{
    .section-about{
        margin-left: 22%;
        margin-right: 22%;
    }
}

//styling the second article 
@include phone-large{
    .team{
        display: flex;
        justify-content: space-around;
    }
    .team img{
        width: 30%;
    }
}
@include tablet{
    .team img{
        width: 40%;
        padding-right: 12px;
    }
}