.mySlides {display: none;}
.mySlides2 {display: none;}
img {vertical-align: middle;}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}
//font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Ramaraja', serif;
h1, h2, h3{
    font-family: 'Ramaraja', serif;;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
}