.mySlides {display: none;}
.mySlides2 {display: none;}
img {vertical-align: middle;}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}
//font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Ramaraja', serif;
h1, h2, h3{
    font-family: 'Ramaraja', serif;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
}
h3{
    text-align: center;
    margin: 10% auto;
    font-size: large;
}
main h2{
    color: rgb(39, 3, 3);
    font-family: 'Roboto', sans-serif;
}
main h3{
    color: rgb(39, 3, 3);
    font-family: 'Roboto', sans-serif;
}
.story{
    color: rgb(39, 3, 3);
    font-family: 'Roboto', sans-serif;
}
.title h2{
    color: rgb(39, 3, 3);
    font-size: 40px;
}
p{
    font-family: 'Roboto', sans-serif;
}