.wrapper-content {
    max-width: 800px;
    background-color:rgba(214, 187, 190, 0.507);
    opacity: 0.8;
    box-shadow: 0 0 7px 7px rgba(218, 197, 199, 0.938);
    margin: 0 auto;
    margin-top:90px;
    margin-bottom:90px;
    

}