.wrapper-content {
    max-width: 800px;
    background-color:#ffbfa5;
    opacity: 0.8;
    box-shadow: 0 0 7px 7px rgb(133, 129, 129);
    margin: 0 auto;
    margin-top:90px;
    margin-bottom: 90px;
    

}