.wrapper-content {
    max-width: 800px;
    background-color:#ccc9c8;
    opacity: 0.8;
    box-shadow: 0 0 7px 7px rgba(216, 190, 193, 0.938);
    margin: 0 auto;
    margin-top:90px;
    margin-bottom:90px;
    

}