.mySlides {
  display: none;
}

.mySlides2 {
  display: none;
}

img {
  vertical-align: middle;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-family: 'Ramaraja', serif;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

.image-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #343333;
  text-shadow: 0 0 5px #998b76;
  font-weight: bold;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333;
}

@media (min-width: 700px) {
  header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.459);
  }
}

header h1 {
  margin: 0 0 0 20px;
  color: #ffffff;
  line-height: 60px;
}

header h1 a {
  text-decoration: none;
  color: #ffffff;
}

nav {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
  -webkit-transition: height 0.3s ease, visibility 0s 0.3s;
  transition: height 0.3s ease, visibility 0s 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

nav a {
  line-height: 30px;
  border-bottom: 1px solid #333;
  border-top: 1px solid #ffffff;
  padding: 0 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  font-size: 1.8em;
}

nav a:hover,
nav a:focus,
nav a:active {
  background-color: rgba(255, 255, 255, 0.2);
}

nav li:last-child a {
  border-bottom: 1px solid #afafaf;
}

.show nav {
  visibility: visible;
  height: auto;
  -webkit-transition: height 0.3s ease, visibiliy 0s;
  transition: height 0.3s ease, visibiliy 0s;
  text-align: center;
}

/* Hamburger Styles */
.hamburger {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.hamburger-icon {
  color: #ffbfa5;
  line-height: 1;
  font-size: 1.9em;
}

.hamburger:focus,
.hamburger-icon:focus {
  outline: none;
}

.hamburger:focus .hamburger-icon {
  outline: 5px solid #69c1db;
}

.hamburger-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  margin: 0;
  background-color: rgba(247, 238, 238, 0.63);
}

.wrapper {
  max-width: 2150px;
  margin: 0 auto;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.body-form {
  margin: 0;
  background-color: white;
  color: black;
  font-weight: 900;
}

.heading-second h3,
.heading-third h2 {
  text-align: center;
  margin: 0;
}

.heading-third h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.heading h1 {
  text-align: center;
}

.heading-second h3 {
  color: black;
  text-align: center;
}

.article .hero {
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  max-width: 750px;
  margin: 0 auto;
  width: auto;
}

.hero h1 {
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 0.4em;
}

.hero p {
  font-size: 1.2em;
  padding: 10px;
  color: black;
}

.cta .cta-text {
  padding: 30px;
}

.cta h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.2em;
}

.cta p {
  font-size: 1.2em;
}

.cta .cta-img {
  height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  margin: 10px;
}

.cta-btn {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  background-color: #333;
  border-radius: 22px;
}

.cta-btn a {
  color: #ffbfa5;
  text-decoration: none;
  font-size: 1.2em;
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(36, 35, 35, 0.5);
  bottom: 10px;
  right: 15px;
  z-index: 3;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
}

.gotopbtn .fa-arrow-up {
  color: white;
}

@media (min-width: 41.875em) {
  .cta {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
  }
  .cta .cta-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 30px;
  }
  .cta .cta-img {
    width: 85%;
    padding: 30px;
  }
}

/* Media Queries */
@media (min-width: 560px) {
  .banner-big-text {
    font-size: 1.8em;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1;
  }
  .banner-text {
    margin: 0;
  }
  .banner-big-text {
    margin-right: 10%;
  }
  .hero {
    width: auto;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .serve {
    text-align: center;
    font-size: 1.2em;
  }
  .submit-group input {
    width: auto;
  }
}

@media (min-width: 500px) {
  .hero {
    width: auto;
  }
}

@media (min-width: 700px) {
  nav {
    width: auto;
    height: auto;
    visibility: visible;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav a {
    line-height: 60px;
    border: none;
    display: inline-block;
  }
  nav li:last-child a {
    border: none;
  }
  .hamburger {
    display: none;
  }
  .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .banner-big-text {
    font-weight: bold;
    margin-right: 60px;
  }
  .hero {
    border-bottom: 1px dotted #ccc;
    max-width: 750px;
    margin: 0 auto;
    width: auto;
  }
  .hero h1 {
    margin-bottom: 0.8em;
  }
  .hero p {
    font-size: 1.2em;
    padding: 10px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .one-third {
    width: 30.6666666667%;
  }
  footer p {
    text-align: center;
  }
  .question4 input {
    padding: 40px;
    width: 100%;
  }
  .first-name,
  .last-name,
  .email,
  .phone-number,
  .question2,
  .question3 {
    width: 100%;
  }
  .row01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero {
    width: auto;
  }
  .one-third {
    width: 21.6666666667%;
  }
  footer p {
    text-align: center;
  }
  .one-third ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .one-third li {
    display: contents;
  }
  .one-third li a {
    margin: 10px;
  }
  .first-name,
  .last-name,
  .email,
  .phone-number,
  .question2,
  .question3 {
    width: 100%;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .question4 input {
    padding: 50px;
    width: 104%;
  }
  .serve h1 {
    font-size: 1.5em;
  }
}

/* footer styles */
footer {
  background-color: #333;
  color: white;
  padding: 30px;
}

footer h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

footer a {
  color: #ffbfa5;
}

.one-third li {
  display: contents;
}

.one-third li a {
  margin: 10px;
}

.one-third ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fab {
  font-size: 29px;
}

footer h2 a {
  text-decoration: none;
}

footer p {
  text-align: center;
  color: #ffbfa5;
}

footer h2, h3 {
  text-align: center;
  color: #ffbfa5;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: white;
}

.container-02::after {
  content: "";
  clear: both;
  display: table;
}

.container-02 img {
  width: 300px;
  height: 272px;
  float: right;
  margin: 10px;
}

.container-02 p {
  line-height: 28px;
  font-size: 16px;
  margin: 20px;
}

.container-03 {
  margin: 20px;
}

.banner img {
  max-width: 1920px;
  width: 100%;
}

.basic-form {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 30px;
}

.basic-form h2,
.basic-form h3,
.basic-form p,
.basic-form label,
.basic-form input[type="submit"] {
  font-family: 'Roboto', sans-serif;
}

.basic-form h3 {
  font-size: 1.1em;
  margin-bottom: 0.5;
}

.basic-form input:not([type="submit"]),
.basic-form option {
  font-family: 'Open Sans', sans-serif;
}

.basic-form fieldset {
  padding: 0;
  border: 0;
}

.basic-form label {
  font-size: 1.05em;
  margin-bottom: 0.3em;
}

.basic-form select {
  font-size: 1.05em;
  margin-left: 5px;
}

.form-group {
  margin-bottom: 0;
  padding-bottom: 10px;
}

/*  Info Styles */
.patient-info-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-name,
.last-name,
.email,
.question2,
.phone-number {
  width: 87%;
}

.email {
  width: 87%;
}

.question2, .question3, .question4 {
  width: 87%;
}

.form-row:not(:last-child) {
  margin-bottom: 2.2em;
}

.patient-info-group label,
.patient-info-group input {
  width: 100%;
}

.patient-info-group input {
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
  border-style: ridge;
  font-size: 1.025em;
  margin-top: 10px;
}

.serve {
  text-align: center;
  font-size: 0.9em;
  -webkit-transition: 1;
  transition: 1;
}

.question4 input {
  padding: 40px;
  width: 102%;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  border-style: ridge;
}

.submit-group input {
  color: #fff;
  background-color: black;
  border: 2px solid black;
  border-style: ridge;
  font-size: 1.1em;
  border-radius: 9px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

.basic-form select {
  font-size: 1.05em;
  margin-left: 40px;
}

.wrapper-content {
  max-width: 800px;
  background-color: #ffbfa5;
  opacity: 0.8;
  -webkit-box-shadow: 0 0 7px 7px #858181;
          box-shadow: 0 0 7px 7px #858181;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
}

h3 {
  text-align: center;
  margin: 10% auto;
  font-size: large;
}

.title {
  border-top: solid #3f2a20 1px;
  border-bottom: solid #3f2a20 1px;
  width: 50%;
  margin: 15% auto;
  text-align: center;
  font-size: 30px;
}

.title h2 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.story {
  font-size: 30px;
}

article {
  margin: 10%;
}

.caption {
  background-color: rgba(218, 197, 199, 0.507);
  max-width: 400px;
}

.caption p {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.caption-2 {
  padding-top: 10px;
}

@media (min-width: 500px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  article {
    width: 43%;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 10%;
  }
  .title h2 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media (min-width: 900px) {
  .title {
    margin: 5% auto;
    font-size: 48px;
  }
  article {
    width: 30%;
    margin-left: 20px;
    margin-bottom: 10%;
    margin-top: 0;
  }
  section {
    margin-left: 3%;
  }
}

@media (min-width: 900px) {
  article {
    padding-left: 10px;
    width: 30%;
  }
  section {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 800px) {
  .title {
    margin: 10% auto;
  }
}

.about-banner {
  max-height: 600px;
}

.aim-header {
  display: none;
}

article p {
  line-height: 1.4;
  font-size: 16;
  padding-top: 30px;
}

article h3 {
  color: #61300c;
  font-size: x-large;
  padding: 10% auto;
  padding-bottom: 30px;
}

article img {
  padding-bottom: 20px;
}

@media (min-width: 500px) {
  .section-about {
    display: block;
    margin: 3% auto;
  }
  .aim-header {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-size: bolder;
    margin-bottom: 10%;
    margin-top: 0;
  }
  .section-about article {
    margin: 0;
    width: 100%;
  }
  .first-article-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 0;
  }
  .aim {
    width: 40%;
  }
  .about-img {
    width: 50%;
    max-width: 280px;
    max-height: 350px;
  }
}

@media (min-width: 800px) {
  .section-about {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 900px) {
  .section-about {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1100px) {
  .section-about {
    margin-left: 22%;
    margin-right: 22%;
  }
}

@media (min-width: 500px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .team img {
    width: 30%;
  }
}

@media (min-width: 900px) {
  .team img {
    width: 40%;
    padding-right: 12px;
  }
}

.offer h3 {
  padding: 0;
}

.offer p {
  padding-top: 10px;
}

@media (min-width: 500px) {
  .offer h3 {
    margin-top: 0;
  }
  .offer p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: rgba(218, 197, 199, 0.507);
  }
  .offer-img {
    width: 60%;
    padding-bottom: 0;
  }
  .offer-text {
    width: 35%;
  }
  article img {
    padding-bottom: 0;
  }
  .offer-text {
    padding-left: 2%;
    padding-top: 15%;
  }
}
/*# sourceMappingURL=styles.css.map */